@import './../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables';

:host {
  --ds-auro-skeleton-background-color: var(--ds-color-background-subtle-default, #{$ds-color-background-subtle-default});
  --ds-auro-skeleton-background-gradient-color-one: var(--ds-color-background-subtle-default, #{$ds-color-background-subtle-default});
  --ds-auro-skeleton-background-gradient-color-two: var(--ds-color-background-primary-300-default, #{$ds-color-background-primary-300-default});
  --ds-auro-skeleton-background-gradient-color-three: var(--ds-color-background-subtle-default, #{$ds-color-background-subtle-default});
}
