@import "./../node_modules/@aurodesignsystem/design-tokens/dist/alaska/SCSSVariables--alaska";

:host {
  --ds-auro-skeleton-container-color: var(--ds-advanced-color-skeleton-background, #{$ds-advanced-color-skeleton-background});
  --ds-auro-skeleton-container-gradient-color-one: var(--ds-advanced-color-skeleton-background, #{$ds-advanced-color-skeleton-background});
  --ds-auro-skeleton-container-gradient-color-two: var(--ds-advanced-color-skeleton-wave, #{$ds-advanced-color-skeleton-wave});
}
